html,
body {
  height: 100vh;
  background-color: dodgerblue;
}

.container {
  width: 500px;
  height: 500px;
  background-color: wheat;
  margin: auto;
}

.content {
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  font-size: 17px;
  font-family: "Monaco";
  background-color: aqua;
}

.top-shelf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: azure;
  border-bottom: 2px solid black;
}

.question {
  height: 50px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.opt {
  background-color: olivedrab;
  margin: 2px;
  padding-left: 10px;
  text-align: left;
  width: 100%;
  height: 50px;
  border: 4px solid grey;
  border-top: none;
  border-left: none;
}

.opt-area {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: right;
  align-items: center;
}

.btn-nxt {
  height: 50px;
  width: 100px;
}
