html,
body {
  height: 100vh;
  background-color: lightblue;
}

.global-container {
  display: flex;
  background-color: lightblue;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

h1 {
  font-family: "Monaco";
  margin-top: 0px;
}

.zero {
  grid-area: zero;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.plus {
  grid-area: plus;
}

.minus {
  grid-area: minus;
}

.multiply {
  grid-area: multiply;
}

.divide {
  grid-area: divide;
}

.dot {
  grid-area: dot;
}

.clear {
  grid-area: clear;
}

.equal {
  grid-area: equal;
  background-color: mediumpurple;
  color: white;
}

.screen {
  background-color: #EFEFEF;
  font-size: 20px;
  font-family: "Monaco";
  border: 2px solid black;
  border-top-color: dodgerblue;
  border-left-color: dodgerblue;
  border-style: outset;
  border-radius: 5px;
}

.num-btn {
  height: 50px;
  font-size: 20px;
  font-family: "Monaco";
  border-top-color: dodgerblue;
  border-left-color: dodgerblue;
  border-style: outset;
  border-radius: 5px;
}

.op-btn {
  height: 50px;
  font-size: 20px;
  font-family: "monaco";
  border-top-color: dodgerblue;
  border-left-color: dodgerblue;
  border-style: outset;
  border-radius: 5px;
}

.equal {
  font-size: 20px;
  font-family: "monaco";
  border-top-color: dodgerblue;
  border-left-color: dodgerblue;
  border-style: outset;
  border-radius: 5px;
}

.screen {
  height: 50px;
  padding: 10px;
  text-align: end;
  font-family: "Monaco";
}

.calc {
  display: grid;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  height: 400px;
  width: 300px;
  grid-template-columns: auto;
  background-color: dodgerblue;
}


.numpad {
  display: grid;
  grid-template-areas: 'plus minus multiply divide' 'seven eight nine equal' 'four five six equal' 'one two three equal' 'zero dot clear equal';
  column-gap: 2px;
  row-gap: 2px;
}
