html {
  font-family: "Monaco";
  height: 100%;
  background-color: cornflowerblue;
}

.global {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  background-color: cornflowerblue;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 400px;
  background-color: whitesmoke;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

h1 {
  font-family: "Courier New";
  color: cornflowerblue;
}

.task-region {
  display: flex;
}

.add-region {
  margin: 10px;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
}

.input-box {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: white;
  width: 400px;
  border: 2px;
  justify-content: center;
  align-items: center;
}

#add-btn {
  color: white;
  font-size: 16px;
  background-color: dodgerblue;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 70px;

}

.edit-task-btn,
.delete-task-btn {
  margin-left: 10px;
  border: none;
  border-radius: 3px;
}

.edit-task-btn {
  color: white;
  background-color: dodgerblue;
}

.delete-task-btn {
  color: white;
  background-color: mediumvioletred;
}

#task-input {
  font-size: 16px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid grey;
  width: 200px;
}

#sign {
  text-align: center;
  color: black;
}
