html {
  font-family: "Monaco";
  height: 100%;
}

.global {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
}
