h1 {
  text-align: center;
  font-family: "Helvetica";
}

.num {
  display: flex;
  margin: auto;
  background-color: lightblue;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman";
  font-size: 200px;
}

.btn-global {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  justify-content: space-evenly;
}

.cont-reset {
  text-align: center;
  font-family: "Helvetica";
  color : red;
}
